{% extends "base.html" %}

{% block content %}

<h1>{{name}}</h1>

<p>All job listings for {{name}}</p>

<table style="width:100%">
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Education Level</td>
      <td>Minimum GPA</td>
      <td>Skills</td>
      <td>Application Link</td>
    </tr>
    {% for jid, title, qual1, qual2, qual3, app_link in jobs %}
        <tr>
            <td>{{jid}}</td>
            <td>{{title}}</td>
            <td>{{qual1}}</td>
            <td>{{qual2}}</td>
            <td>{{qual3}}</td>
            <td>{{app_link}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %} 