h1 {
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-family: Arial, sans-serif;
    text-align: center;
  }

h2 {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
}

body {
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-family: Arial, sans-serif;
  text-align: center;
  background-image: url('../static/doors.jpeg');
}

.box {
margin: auto;
width: 75%;
border: solid 3px;
background-color: rgb(249, 253, 209);
padding: 40px; }

.nav-box {
margin: auto;
width: 75%;
border: solid 3px;
background-color: rgb(209, 238, 250);
padding: 40px; }

#leftbox { 
  margin: auto;
  float:left;
  border: solid 3px;  
  background-color: rgb(209, 238, 250);
  width:47%; 
  height: 300px;
} 
    
#rightbox{ 
  margin: auto;
  float:right;
  border: solid 3px; 
  background-color:rgb(209, 238, 250); 
  width:47%; 
  height: 300px;
} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(249, 253, 209);
}

li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(223, 140, 140);
}