{% extends "base.html" %}

{% block content %}

<h1>{{name}}</h1>
<p> @{{username}}</p>

<p> GPA:  {{gpa}} 
<br> Major: {{major}}
<br> Graduation Year: {{year}}
<br> Orgs: {{org1}}, {{org2}}, {{org3}}

{% if username != '' and src != '' %}
<p><a href="{{url_for('resume', username=username)}}" download = resume> Last uploaded Resume
 <file src="{{url_for('resume', username=username)}}">
</a> </p>
{% else %}
    <p>No Resume Uploaded.</p>
{% endif %}



<p>Past Experiences:</p>
{% if experiences %}
    <ol>
        {% for e in experiences%}
        <li>
            <a href="{{url_for('job', comp_id=e['comp_id'], jid=e['jid'])}}"> {{e['title'] + ' @ ' + e['comp_name']}}</a>
        </li>
        {% endfor %}
    </ol>
{% else %}
    <p>No Experiences Listed.</p>
{% endif %}

<a href="{{url_for('affiliate_update', username=username)}}">Update Your Profile</a>



{% endblock %}