<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Marisa, Luiza, Mehar, Nina">
    <title>DoorToDoor</title>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'style.css') }}" type="text/css">
</head>
<body>
<main>
<div class = "nav-box">
    <div id="navigation">
        <nav>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
            <!-- {% if rep %} -->
                <li><a href="{{url_for('rep', username = username)}}">My Profile</a></li>
            <!-- {% endif %}
            {% if welles_affiliate %} -->
                <li><a href="{{url_for('affiliate', username = username)}}">My Profile</a></li>
            <!-- {% endif %} -->
                <li><a href="{{url_for('logout')}}">Logout</a></li>
              </ul>
        </nav>
        </div>

<h1>DoorToDoor</h1>

<h2>"I'll open your door if you open mine."</h2>

<p> Search by person, company, or industry!</p>   
<form class="search" method="GET" action="{{url_for('search')}}">
    <p><label> Search by Name: <input type="text" required name="query"></label>
    <label>kind
            <select required name="kind">
                <option value="">choose one</option>
                <option value="person">person</option>
                <option value="company">company</option>
                <option value="industry">industry</option>
            </select>
    </label> 
    <input type="submit" value="search"></p>
</form>
</div>

<div class = "box">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

{% block content %} {% endblock %}  

</div>

<div class = "nav-box">
<h3>Quick Browse:</h3>
<a href="{{url_for('all_companies')}}">See All Companies To Date</a></p>
<a href="{{url_for('all_industries')}}">See All Industries To Date</a></p>
<a href="{{url_for('all_affiliates')}}">See All Affiliates Joined To Date</a></p>
</div>
</main>
</body>
</html>
