<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Marisa, Luiza, Mehar, Nina">
    <title>Welcome page</title>
    <link rel='stylesheet' href="../static/style.css" type="text/css">
</head>
<body>
<main>
<div class = "box">

<h1>DoorToDoor</h1>
    <h2>I'll open your door if you open mine</h2>

    <p> Search for almost anything!</p>
    
<form class="search" method="GET" action="/query/">
    <p><label> Search by Name: <input type="text" required name="query"></label>
    <label>kind
            <select required name="kind">
                <option value="">choose one</option>
                <option value="person">person</option>
                <option value="company">company</option>
            </select>
    </label>
    <input type="submit" value="search"></p>
</form>
    
<form method=POST action="/query/">
    <label for="menu-tt">Search by Industry:</label>
    <select name="menu-tt">
        
        {% for item in list %}
        <option value={{item[0]}}>{{item[0]}}</option>
        {% endfor %}
       
    </select>
    <input type="submit" name="submit-btn" value="Choose">
</form>
    
{% block content %} {% endblock %}  

</div>
</main>
</body>
</html>
