<!-- Luiza, Nina, Marisa, Mehar 
        CS 304 Final Project
        Industry page page html file
        Extends base.html -->

{% extends "base.html" %}

{% block content %}

<h1>{{ind_name}}</h1>
<p> ID: {{iid}}</p>

<p>Companies within {{ind_name}}: </p>
{% if complist %}
    <ol>
        {% for c in complist: %}
        <li> 
            <a href="{{url_for('company',comp_id=c['comp_id'])}}">{{c['comp_name']}}</a>
        </li>
        {% endfor %}
    </ol>
{% else %}
    <p>No Companies Listed.</p>
{% endif %}

{% endblock %} 
