{% extends "base.html" %}

{% block main_content %}
<h1>Add Your Company</h1>
<p> <a href="{{ url_for ('index'}}">Return to Homepage</a>.</p>

<form method=post action="{{url_for('insert_company')}}"></form>
<fieldset>
<legend>Enter Company Details</legend>
<table>
    <tr>
        <td><label for="companyname">Company Name</label></td>
        <td><input name="companyname" id="companyname" type="text" ></td> 
        </tr>

    <tr>
    <td><label for="ind">Industry Name</label></td>
    <td><input name='industry-name' id = 'ind' value='{{ind}}'></td> 
    </tr>

    <tr>
    <td><label for="iid">Industry ID</label></td>
    <td><input name='industry-id' id = 'iid' value='{{ind_id}}'></td> 
    </tr>


    <tr>
    <td><label for="location">Current Locations</label></td>
    <td><input name="location" id="location" type="text"> </td> 

    <tr>
    <td><label for="reps">Current Represenatives</label> </td>  
    <td><input name="reps" id="reps" type="text"> </td>  
    </tr>

    <tr>
    <td> <input type="submit" value="submit"> </td>
    </tr>
</table>

</form>

{% endblock %}