{% extends "base.html" %}

{% block main_content %}
<h1>Add New Job Posting</h1>
<p> <a href="{{ url_for ('recruiter', username = username)}}">Return to Profile</a>.</p>

<form method=post action="{{url_for('postjob')}}"></form>
<fieldset>
<legend>Enter Job Details</legend>
<table>
    <tr>
    <td><label for="company"> Company Name</label> </td>
    <td><input name="company-name" id="company" type="text" > </td> 
    </tr>
    <tr>
    <td><label for="jobtitle"> Position Title</label></td>
    <td><input name="jobtitle" id="jobtitle" type="text" ></td> 
    </tr>

    <tr>
    <td><label for="educ">Highest Level of Education Achieved </label></td>
    <td><input name="education" id="educ" type="text"> </td> 

    <tr>
    <td><label for="gpa">Minimum GPA </label> </td>  
    <td><input name="gpa" id="gpa" type="text"> </td>  
    </tr>

    <tr>
    <td><label for="skills"> Technical Skills Required </label> </td> 
    <td><input name="technical_skills" id="skills" type="text" > </td> 
    </tr>

   
    <tr>
    <td><label for="status"> Are applications for this position currently open?</label> </td>
    <td><input name="app_status" id="status" type="radio" value="Yes"> Yes </td>
    <td><input name="app_status" id = "status" type="radio" value="No"> No  </td>
    </tr> 

    <tr>
    <td><label for="AppLink">Application Link</label> </td> 
    <td><input name="AppLink" id="AppLink" type="text"> </td> 
    </tr>   

    <p> <input type="submit" value="submit"> </p>

</form>

{% endblock %}