{% extends "base.html" %}

{% block content %}

<h1>Add New Job Posting</h1>
<p> <a href="{{ url_for ('rep', username = username)}}">Return to Profile</a>.</p>

<form method=POST action="{{url_for('job_insert',username = username)}}">
<fieldset>
<legend>Enter Job Details</legend>
<table>
    <tr>
        <td><label for="jobtitle"> Position Title</label></td>
        <td><input name="jobtitle" id="jobtitle" type="text" ></td> 
        </tr>

    <tr>
    <td><label for="company"> Company Name</label> </td>
    <td><input name="company" id="company" type="text" value='{{comp_name}}' > </td> 
    </tr>

    <tr>
        <td><label for="comp_id">Company ID</label></td>
        <td><input name='comp_id' id = 'comp_id' value='{{comp_id}}'></td> 
    </tr>

    <tr>
    <td><label for="ind">Industry Name</label></td>
    <td><input name='ind' id = 'ind' value='{{ind_name}}'></td> 
    </tr>

    <tr>
    <td><label for="iid">Industry ID</label></td>
    <td><input name='iid' id = 'iid' value='{{iid}}'></td> 
    </tr>


    <tr>
    <td><label for="educ">Highest Level of Education Achieved </label></td>
    <td><input name="educ" id="educ" type="text"></td> 

    <tr>
    <td><label for="gpa">Minimum GPA </label> </td>  
    <td><input name="gpa" id="gpa" type="text"> </td>  
    </tr>

    <tr>
    <td><label for="skills"> Technical Skills Required </label> </td> 
    <td><input name="skills" id="skills" type="text" > </td> 
    </tr>

   
    <tr>
    <td><label for="status"> Application Status </label></td>
     <td><select required name="status">
            <option value="">choose one</option>
            <option value="Applications Open">Open</option>
            <option value="Applications Closed">Closed</option>
        </select>
    </td>
    </tr> 

    <tr>
    <td><label for="link">Application Link</label> </td> 
    <td><input name="link" id="link" type="text"> </td> 
    </tr>  

    <tr>
    <td> <input type="submit" value="submit"> </td>
    </tr>
</table>

</form>

{% endblock %}