{% extends "base.html" %}

{% block main_content %}
<h1>Add Your Company</h1>

<form method=post action="{{url_for('insert_company')}}"></form>
<fieldset>
    <legend>Enter Company Details</legend>
    <table>
        <tr>
        <td><label for="comp_name">Company Name</label></td>
        <td><input type="text" required name="comp_name" id="comp_name"></td> 
        </tr>

        <tr>
        <td><label for="iid">Industry Name</label></td>
            <select required name='iid'>
                <option value="">Choose One</option>
                {% for ind in inds: %}
                    <option value="{{ind['iid']}}">{{ind['ind_name']}}</option>
                {% endfor %}
            </select>
        </tr>

        <tr>
        <td><label for="locations">Current Locations</label></td>
        <td><input type="text" required name="locations" id="locations"></td> 
    </table>
    <input type="submit" value="submit">
</fieldset>
</form>

{% endblock %}