<!-- Luiza, Nina, Marisa, Mehar 
        CS 304 Final Project
        Insert company page html file
        Extends base.html -->

{% extends "base.html" %}

{% block content %}

<h1>Add Your Company</h1>

<form method=post action="{{url_for('comp_insert', username = username)}}">
<fieldset>
    <legend>Enter Company Details</legend>
    <table>
        <tr>
        <td><label for="comp_name">Company Name</label></td>
        <td><input type="text" required name="comp_name" id="comp_name"></td> 
        </tr>

        <tr>
        <td><label for="iid">Industry Name</label></td>
        <td><label><select required name='iid' id = 'iid'>
                <option value="">Choose One</option>
                {% for ind in inds: %}
                    <option value="{{ind['iid']}}">{{ind['ind_name']}}</option>
                {% endfor %}
            </select></label></td>
        </tr>

        <tr>
        <td><label for="locations">Current Locations</label></td>
        <td><input type="text" required name="locations" id="locations"></td> 
    </table>
    <input type="submit" name = "submit" value="submit">
</fieldset>
</form>

{% endblock %}