{% extends "base.html" %}

{% block content %}

<h1>{{comp_name}}</h1>

<p>All job listings for {{comp_name}}</p>

<table style="width:100%">
    <tr>
      <td>ID</td>
      <td>Title</td>
      <td>Education Level</td>
      <td>Minimum GPA</td>
      <td>Skills</td>
      <td>Application Link</td>
      <td>Status</td>
    </tr>
    {% for job in jobs %}
        <tr>
            <td>{{jid}}</td>
            <td>{{title}}</td>
            <td>{{q1}}</td>
            <td>{{q2}}</td>
            <td>{{q3}}</td>
            <td>{{app_link}}</td>
            <td>{{status}}</td>
        </tr>
    {% endfor %}
</table>
{% endblock %} 