<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <meta name=author content="Marisa, Luiza, Mehar, Nina">
    <title>Login</title>
    <link rel='stylesheet' href="{{ url_for('static', filename = 'style.css') }}" type="text/css">
</head>
<body>
<main>
<div class = "box">
    <h1> Welcome to DoorToDoor!</h1>
    <p><b>If you are an existing user,</b> please login on the left.</p>
    <p><b> If you are new to DoorToDoor,</b> please create an account on the right. Be sure to specify whether you are a Wellesley Affiliate or a Company Representative to be directed to your appropriate profile creation page. </p>

    {% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}

    <div id = "leftbox">
      <h2>Login</h2>
      <form class="login" method="POST" action="{{url_for('login')}}">
      <p><label>Username: <input type="text" required name="username"></label>
      <br>
      <label>Password: <input type="text" required name="password"></label>
      <br>
        <input type="submit" name = "submit" value="login"></p>
    </form>
    </div>

    <div id = "rightbox">
      <h2>Sign Up</h2>
      <p>All fields are required</p>
      <form class="signup" method="POST" action="{{url_for('login')}}">
      <label>I am a:
            <select required name="kind">
                <option value="">choose one</option>
                <option value="affiliate">Wellesley Affiliate</option>
                <option value="company_rep">Company Representative</option>
            </select>
    </label> 
      <p><label>Name: <input type="text" required name="name"></label>
      <br>
      <label>Email: <input type="text" required name="email"></label>
      <br>
      <label>Username: <input type="text" required name="username"></label>
      <br>
      <label>Password: <input type="text" required name="password"></label>
      <br>
      <label>Enter Password Again: <input type="text" required name="password2"></label>
      <br>
        <input type="submit" name = "submit" value="signup"></p>
    </form>
    </div>
</div>
</main>
  </body>
</html>

