{% extends "base.html" %}

{% block content %}

<h1>Welcome to DoorToDoor</h1>

<p>DoorToDoor is a platform to help students open doors throughout the challenging recruitment process. 
    Our platform will help students in all stages of the process, from first-years who want a better 
    understanding of different industries to seniors who need assistance with interview preparation and 
    networking with alumni. DoorToDoor connects students with alums in various industries, allows students 
    to share resources, interview questions, experiences with employers, deadlines, and anything else a student might need. 
    There are many existing platforms, but we want to bring it all together in one and solely focus on the Wellesley community. 
 </p>

{% endblock %} 
