<!-- Luiza, Nina, Marisa, Mehar 
        CS 304 Final Project
        Rep page html file
        Extends base.html -->

{% extends "base.html" %}

{% block content %}

<h1>{{name}}</h1>
     
<p> Representing: <a href="{{url_for('company', comp_id=comp_id)}}">{{comp_name}}</a></p>

<!-- Only a rep can add job posting, update profile, or update company profile -->

{% if myuser %}
<ul>
  <li><a href="{{url_for('job_insert', username=username)}}">Add New Job Post</a></li>
  <li><a href="{{url_for('rep_update', username=username)}}">Update Your Profile</a></li>
  <li><a href="{{url_for('comp_update', username=username, comp_id=comp_id)}}">Update Your Company Profile</a></li>
</ul>
{% endif %}
{% endblock %}