
{% extends "base.html" %}

{% block content %}

<h1>Update Company Representive Information</h1>

  <p> You can update or delete your Represenative profile here.</p>

    <form method=POST action="{{url_for('rep_update', username=username)}}">
        <table>
            <tr>
            <td><label for="name"> Representative Name</label></td>
            <td><input type="text" required name="name" id="name" value="{{name}}"></td> 
            </tr>

            <tr>

                <td><label for="password"> Optional: Update Password</label></td>
                <td><input name="password" id="password" type="password" value="{{password}}" ></td> 
            </tr>

            <tr>
                

                <td><label>Company Name</label></td>
                    <td><label><select required name='comp_id'>
                        <option value="">Choose one.</option>
                        <option value="null">My Company Is Not Listed.</option>

                        {% for comp in comps: %}
                            <option value="{{comp['comp_id']}}">{{comp['comp_name']}}</option>
                        {% endfor %}
                    </select></label>
                </td>
            </tr>

        </table>
        <input type="submit" name="submit" value="update">
    </form>

{% endblock %}