
{% extends "base.html" %}

{% block content %}

<h1>Update Job Posting</h1>

  <p> You can update or delete job listing here.</p>

    <form method=POST action="{{url_for('job_update', jid=jid)}}">
      <table>
        <tr>
          <td><label for="title">Position Title</label></td>
          <td><input type = 'text' required name="title" id = "title" value='{{title}}'></td>
        </tr>
        <tr>
          <td><label for="educ">Highest Level of Education Achieved </label></td>
          <td><input type = 'text' required name= "education" id = 'educ' value='{{educ}}'></td>
        </tr>
        <tr>
          <td><label for="gpa"> Minimum GPA</label></td>
          <td><input type = 'text' required name='gpa' id = 'gpa' value='{{gpa}}'></td>
        </tr>
        <tr>
          <td><label for="skills">Technical Skills Required </label></td>
          <td><input type = 'text' required name='skills' id = 'skills' value='{{skills}}'></td>
        </tr>

        <tr>
          <td><label>Application Status</label></td>
            <td><label><select required name="status">
                <option value="">choose one</option>
                <option value="Applications Open">Open</option>
                <option value="Applications Closed">Closed</option>
            </select></label></td> 
          </tr> 

        <tr>
          <td><label for="link">Application Link</label> </td> 
          <td><input type="text" name="link" id="link" value='{{link}}'> </td> 
          </tr> 

      </table>
      <input type="submit" name="submit" value="update">
      <input type="submit" name="submit" value="delete">
    </form>

{% endblock %}