
{% extends "base.html" %}

{% block content %}

<h1>Update Company Representive Information</h1>

  <p> You can update or delete your Represenative profile here.</p>

    <form method=POST action="{{url_for('rep_update', username=username)}}">
        <table>
            <tr>
            <td><label for="name"> Representative Name</label></td>
            <td><input type="text" required name="name" id="name" value="{{name}}"></td> 
            </tr>
        
            <tr>
            <td><label for="comp_id">Company ID</label></td>
            <td><input name='comp_id' id = 'comp_id' value='{{comp_id}}'></td> 
            </tr>
        
            <tr>
            <td><label for="comp_name">Company Name</label></td>
            <td><input name='comp_name' id = 'comp_name' value='{{comp_name}}'></td> 
            </tr>

        </table>
        <input type="submit" name="submit" value="update">
        <input type="submit" name="submit" value="delete">
    </form>

{% endblock %}